<div ng-controller="homeCtrl">

    <h2>Welcome {{user_name}}!</h2>
    <div ng-show="isContentManager(access)">
        <button  class="btn btn-default"  ng-click="redirectToAddCourse()">Add Course</button>
       <!-- <button ng-click="redirectToQuiz()">Create Quiz</button>-->
    </div>

    <div ng-hide="isAdministrator()" class="col-sm-10 col-sm-offset-1 main-div">
        <h3>All courses:</h3>

        <table ng-table class="table table-hover">
            <tr  ng-repeat="course in courses">
                <!--<div>-->

                    <td><h4>{{course.course_category+": "+course.course_name}}</h4></td>
                    <td>{{"Description: "+course.course_description}}</td>
                    <td><h5 ng-show="isContentManager(access)">{{course.course_fee|currency}}</h5></td>
                    <td><button ng-click="goToCourse(course.course_name)" class="btn btn-default">View Course</button>
                    <button ng-click="releaseCourse(course)" ng-show="!isReleased(course.release_status) && isContentManager(access)" class="btn btn-default">Release</button>
                    <button ng-click="deprecateCourse(course)" ng-show="isReleased(course.release_status) && isContentManager(access)" class="btn btn-default">Deprecate</button></td>
                    <td><button ng-click="dropCourse(course.course_name)" ng-show="isStudentUser(access)" ng-disable="getIsDropped(course)" class="btn btn-default" id="dropButton{{course.course_name}}">Drop</button></td>
                    <td><a href="javascript:generateCertificate('this')" class="download-button btn download-pdf" ng-show="isStudentUser(access) && getCourseCompleted(course.progress)"> Get Certificate</a></td>
                    <br/>
                    <br/>
               <!-- </div>-->
            </tr>
        </table>
    </div>

    <div ng-show="isAdministrator()" class="col-sm-10 col-sm-offset-1 main-div">
        <h3>Users: </h3>
        <table ng-table class="table table-hover">
            <tr  ng-repeat="user in users">
                <td>{{user.user_name}}</td>
                <td>{{user.user_type}}</td>
                <td><a ng-show='isStudentUser(user.user_type)' ng-click="promoteUser(user)">Promote</a>
                <a ng-show='isContentManager(user.user_type)' ng-click="demoteUser(user)" ng-style="{color:'red'}">Demote</a></td>
                <br/>
                <br/>
            </tr>
        </table>
    </div>

</div>
